html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
em,
i {
  font-style: normal;
}
// 页面切换时候过渡样式
.page {
  &-enter-active,
  &-leave-active {
    transition: opacity .5s;
  }
  &-enter,
  &-leave-active {
    opacity: 0;
  }
}
// 版心
.w {
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0;
}
.amap-icon img{
  width: 22px;
  height: 36px;
}
.amap-info-content {
  font-size: 12px;
}
.custom-marker {
  display: inline-block;
  width: 22px;
  height: 36px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: #fff;
  background-size: 22px 36px;
  background-image: url(//webapi.amap.com/theme/v1.3/markers/b/mark_bs.png);
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3turn);
  }
}
.el-loading-spinner {
  animation: rotating 3s linear infinite;
  .icon-jiazaizhong {
    font-size: 38px;
  }
}
